    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <a class="navbar-title" href="/">just duet</a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="float-right">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-4">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" id="creatorsBtn" href="/creators">Creators</a>
                        <a class="nav-item nav-link" id="mapsBtn" href="/maps">Local Karaoke</a>
                        {{!-- PROFILE BUTTON DISABLED UNTIL LOGGED IN --}}
                        {{{profile}}}
                        {{{userStatus}}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </nav>
<div class="container">
    <h1 class="display-4 text-center errorPage my-3">404: Page Not Found</h1>
    <h4><a href="/" class="errorPage">Spooky! Click here to take me Home!</a></h4>
    <img class="w-100" src="https://www.impactbnd.com/hubfs/intelligent-404-pages.jpg" alt="404 Error">
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
